<div class="footer">
  <div class="container footer-flex">
    <div class="pr-3">
      <img src="https://storage.googleapis.com/media.newstapa.org/static/bundle/korean/assets/img/logo-bright.svg" alt="newstapa_logo">
    </div>
    <div class="text-footer">
      <div class="mb-3">
        <a href="https://jebo.newstapa.org/">제보</a>
        <span> | </span>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeM88zHR7iS2mQpQytS_kdj0_1dQcAD2se1RklNDOE3v-t6AQ/viewform?c=0&w=1">인터뷰, 강의, 견학 요청</a>
        <span> | </span>
        <a href="https://kcij.org/contact">제휴, 협력 문의</a>
        <span> | </span>
        <a href="https://download.newstapa.org/common/html/terms5.html">청소년 보호정책</a>
        <span> | </span>
        <a href="https://kcij.org/faq">자주 묻는 질문(FAQ)</a>
        <span> | </span>
        <a href="https://newstapa.org/page/using">콘텐츠 사용원칙제보</a>
      </div>
      <div class="mb-3">
        <p>서울특별시 중구 세종대로19길 16 성공회빌딩 3층 (04519)<br>사업자등록번호 : 117-82-66835 | 인터넷신문등록번호 : 서울,아02778 (2013년 8월 21일)<br>대표자: 김용진 | 발행인/편집인:김용진 | 개인정보관리 책임자 : 김성근<br>Tel 02-2038-0977 | 제보 02-2038-8029 | FAX 02-2038-0978 | webmaster@newstapa.org</p>
      </div>
      <div class="mb-3">
        <p>Copyright © 2019 KCIJ, All Rights Reserved.</p>
      </div>
    </div>
    <div class="sns-footer">
      <ul>
        <li>
          <a href="https://www.facebook.com/NEWSTAPA">
              <img src="https://storage.googleapis.com/media.newstapa.org/static/bundle/korean/assets/img/social/icon-follow-facebook.svg" alt="facebook logo">
          </a>
        </li>
        <li>
          <a href="https://twitter.com/newstapa">
              <img src="https://storage.googleapis.com/media.newstapa.org/static/bundle/korean/assets/img/social/icon-follow-twitter.svg" alt="twitter logo">
          </a>
        </li>
        <li>
          <a href="https://story.kakao.com/ch/newstapa">
              <img src="https://storage.googleapis.com/media.newstapa.org/static/bundle/korean/assets/img/social/icon-follow-kakaostory.svg" alt="kakaostory logo">
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/user/newstapa">
              <img src="https://storage.googleapis.com/media.newstapa.org/static/bundle/korean/assets/img/social/icon-follow-youtube.svg" alt="youtube logo">
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
