<div class="header">
  <a href="https://newstapa.org/" target="_blank">
    <img src="https://storage.googleapis.com/media.newstapa.org/static/bundle/korean/assets/img/logo.svg" alt="newstapa_logo"></img>
  </a>
</div>
