.footer {
  background-color: #333;
}
.footer-flex {
  display: flex;
  padding-top: 2em;
  padding-bottom: 2em;
}
.text-footer {
  color: white;
  font-size: 0.75em;
}
.text-footer a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.text-footer span {
  color: white;
}
.sns-footer {
  display: inline;
}
.sns-footer li {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.sns-footer img {
  height: 25px;
}
